@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ShareCoffee</h1>
    <h2>HostWebUrl</h2>
    <span id="host-web-url"></span>
    <h2>AppWebUrl</h2>
    <span id="app-web-url"></span>
</div>
@Scripts.Render("~/bundles/pagescript")
 