@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome</h2>
    <p>SharePoint's Picture Browser allows you to build picture walls based on a SharePoint picutre library.</p>
</div>