/* Place custom styles below */
.vcard {
  font-family: 'Segoe UI Semilight', 'Segoe UI', Segoe, Tahoma, Helvetica, Arial, sans-serif;
  width:480px;
  height:200px;
  background-color: rgb(10, 89, 193);
  padding: 30px;
  color: #fff;

}
.vcard-name {
  float: left;
  width: 75%;
  border-right: 3px solid #fff;
}

.margin {
  margin-bottom: 10px;
}
.bump{
  font-size:25px;
  font-weight:bold; 
}

.vcard-pic {
  float:left;
  width: 20%;
  padding:10px;
}
.clear-fix {
  clear:both;
}